body {
    background-image: url("brooklyn.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

h1 {
    padding-left: 0.5em;
    margin: 0;
    padding-top: 0.3em;
    color: white;
    font-size: 17vw;
    font-family: serif;
    opacity: 0.95;
    text-shadow: 1px 1px 4px rgb(242, 32, 105);
}